<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xl-12">

    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">Report Insure System (RIS)</h3>
        <div class="card-toolbar text-danger">
          <!-- begin::Menu -->
          <h4 class=" text-danger">
            **ข้อควรปฎิบัติ: เจ้าหน้าที่สาขาจะต้องส่ง e-Mail ขอ Run Report สำหรับ รายงาน คปภ. ไปที่ฝ่ายเจ้าของข้อมูลทุกครั้งก่อนดึงรายงานทะเบียน ส่งมอบให้ คปภ.**
</h4>
<!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-0">
        <app-report-tbc11 [(reportFocus)]="reportFocus"></app-report-tbc11>
        <app-report-tbc14 [(reportFocus)]="reportFocus"></app-report-tbc14>
        <app-report-tbc31 [(reportFocus)]="reportFocus"></app-report-tbc31>
        <app-report-tbc32 [(reportFocus)]="reportFocus"></app-report-tbc32>
        <app-report-tbc33 [(reportFocus)]="reportFocus"></app-report-tbc33>
        <app-report-tbc34 [(reportFocus)]="reportFocus"></app-report-tbc34>
        <app-report-tbc35 [(reportFocus)]="reportFocus"></app-report-tbc35>
        <app-report-tbc36 [(reportFocus)]="reportFocus"></app-report-tbc36>
        <app-report-tbc37 [(reportFocus)]="reportFocus"></app-report-tbc37>
        <app-report-tbc311 [(reportFocus)]="reportFocus"></app-report-tbc311>
        <app-report-tbc312 [(reportFocus)]="reportFocus"></app-report-tbc312>


      </div>
      <!-- end::Body -->
    </div>


  </div>
</div>
<!-- end::Row -->
